db:
  name: wordpress
  rootPassword: ""

storage:
  size: 20Gi

wordpress:
  image: wordpress:6.5-apache
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 1Gi

mysql:
  image: mysql:8.0
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 2Gi

ingress:
  enabled: true
  className: nginx
  host: store.example.com
